<ng-container>
  <div class="login-container">
    <div class="login-box">
      <div class="login-header">
        <h4>Sign in to the Offprint Dashboard</h4>
      </div>
      <div class="login-body">
        <form [formGroup]="loginForm">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="someone@offprint.net">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Super Secret">
          </mat-form-field>
          <mat-slide-toggle formControlName="rememberMe">Remember me for thirty days</mat-slide-toggle>
          <button matRipple class="button-primary">Log In</button>
        </form>
      </div>
      <mat-progress-bar mode="indeterminate" *ngIf="loadingLogin"></mat-progress-bar>
    </div>
  </div>
</ng-container>